.home_page {
    background-color: black;
    color: white;

    .text-and-image1 {
        border-bottom: solid 5px #703CA5;
    }

    h3 {
        position: absolute;
        left: 5%;
        right: 5%;
        top: 1080px;
        width: 90%;
        color: white;
        text-align: center;
        font-size: 22px;
    }

    .popimg {
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 66px;
    }

    .popUpText {
        margin-top: 1%;
        text-align: center;
        width: 100+"%";
        color: #703CA5;
        font-size: 28px;
    }

    .poptext {
        margin-top: 1%;
        margin-right: 15%;
        margin-left: 15%;
        text-align: center;
        width: 100+"%";
        font-size: 22px;
    }
    border-bottom: solid 5px #703CA5;
}

