.geometry {
    background-color: black;
    color: white;
    position: flex;
    border-bottom: solid 1px #703CA5;
    font-family: 'Inter', sans-serif;


    .text-and-image1 {
        flex: 1;
        border-bottom: solid 1px #703CA5;
    }

    h3 {
        flex: 1;
        position: absolute;
        left: 5%;
        right: 5%;
        top: 1080px;
        width: 90%;
        color: white;
        text-align: center;
        font-size: 22px;
    }

    .Block1 {
        display: flex;
        height: 401px;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;

        .text {
        margin: 20px;
        width: 1140px;
        height: 351px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        font-size: 22px;
        }

        .pic {
        margin: 20px;
        width: 300px;
        height: 401px;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        }
    }

    .Block2 {
        display: flex;
        height: 347px;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;

        .text {
        margin: 20px;
        width: 1030px;
        height: 207px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        font-size: 22px;
        }

        .pic {
        margin: 20px;
        width: 410px;
        height: 347px;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        }
    }

    .Block3 {
        display: flex;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;

        .text {
        margin: 20px;
        width: 568px;
        height: 450px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        font-size: 22px;
        }

        .pic {
        margin: 20px;
        width: 872px;
        height: 600px;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        }
    }

    .Block4 {
        height: 718px;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;

        .pic {
        margin: 20px;
        width: 1075px;
        height: 673px;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        }
    }

    .Block5 {
        height: 750px;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;

        .pic {
        margin: 20px;
        width: 1145px;
        height: 650px;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        }
    }
    
    .Block6 {
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;

        .text {
        margin: 20px;
        width: 1151px;
        height: 237px;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
        }
    }

}

