.footer {
    background-color: black;
    display: flex;
    color: white;
    font-family: 'Inter', sans-serif;

    &__main{
        flex: 1;
        text-align: left;
        margin-top: 0.5%;
        margin-left: 0.5%;
        margin-bottom: 0.5%;

    }

    &__head{
        flex: 1;
        color: grey;
        font-size: 20px;
        font-family: 'Inter', sans-serif;

    }

    &__contact_discord{
        flex: 1;

    }

    &__contact_phone{
        flex: 1;

    }

    &__contact_mail{
        flex: 1;

    }

    &__desc{
        flex: 1;
        text-align: right;
        margin-top: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;

        a {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            color: white;
            text-decoration: none;
            transition: 0.3s;
            font-family: 'Inter', sans-serif;
        }
        a:hover {
            font-weight: 600;
            opacity: 0.8;
        }

    }

    &__first{
        flex: 1;
        color: grey;
        font-family: 'Inter', sans-serif;
        font-size: 20px;

    }

    &__second_vk{
        flex: 1;

    }

    &__second_tg{
        flex: 1;

    }

    &__second_git{
        flex: 1;

    }
    
}